@use 'variables' as *;
@import 'components/main_section';
@import 'components/carousel_section';
@import 'components/hero_section';
@import 'components/header';
@import 'components/footer';

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    font-family: $font-family-title;
    margin: 0 0 0 0;
}

p, a {
    font-family: $font-family-body;
    font-size: 1rem;
    line-height: 1.5;
}

.muted {
    color: $muted-color;
}

.monospace {    
    font-family: $font-family-monospace;
}

.before-accent-bar {
    position: relative;
    display: inline-block;
    padding-left: 20px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 2px;
        background-color: $accent-color;
    }
}

div.blocks-inner {
    .block:nth-child(odd) {
        background-color: $odd-background-color;
    }

    .block:nth-child(even) {
        background-color: $even-background-color;
    }
}

section.block-html {
    padding: 0 60px;
    width: 100%;
    margin: 0 auto !important;
}

footer, #content {
    max-width: 100vw !important;
    padding: 0px !important;
    margin: 0px !important;
}

div#search, nav#top-nav {
    display: none;
}