@use 'variables' as *;
@import 'components/main_section';
@import 'components/carousel_section';

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    font-family: $font-family-title;
    margin: 0 0 0 0;
}

p {
    font-family: $font-family-body;
    font-size: 1rem;
    line-height: 1.5;
}