@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$primary-color: #1E3A5F;
$accent-color: #B5722A;

$odd-background-color: #FDFAF4;
$even-background-color: #F5F0E8;

$font-family-title: 'Alumni Sans', serif;
$font-family-body: 'DM Sans', sans-serif;